.portfolio2-container {
  min-height: 100vh;
  background-color: #2B2F30;
  
}
.portfolio2-portfolio2 {
  max-width: 1500px;
  height: 6084px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(37, 40, 41, 1);
}
.portfolio2-contact-us {
  top: 5259px;
  left: 0px;
  width: 1500px;
  height: 825px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(37, 40, 41, 1);
}
.portfolio2-linkedin-container {
  top: 540.9046020507812px;
  left: 298px;
  width: 828px;
  height: 84.4000015258789px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-linkedin-container1 {
  top: 0px;
  left: 204px;
  width: 624px;
  height: 84px;
  position: absolute;
}
.portfolio2-text {
  top: 10.549771308898926px;
  left: 263px;
  color: rgba(171, 173, 175, 1);
  width: 467px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text002 {
  top: 10.549771308898926px;
  color: rgba(171, 173, 175, 1);
  width: 205px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-email {
  top: 383.2254943847656px;
  left: 323px;
  width: 803px;
  height: 84.4000015258789px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-text004 {
  top: 9.591236114501953px;
  left: 228px;
  color: rgba(171, 173, 175, 1);
  width: 477px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-email-container {
  top: 0px;
  left: 179px;
  width: 624px;
  height: 84px;
  position: absolute;
  border-color: rgba(0, 228, 114, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  
}
.portfolio2-text006 {
  top: 9.591236114501953px;
  color: rgba(171, 173, 175, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-facebook {
  top: 215.0341796875px;
  left: 323px;
  width: 803px;
  height: 84.4000015258789px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-f-container {
  top: 0px;
  left: 179px;
  width: 624px;
  height: 84px;
  position: absolute;
  border-color: rgba(0, 228, 114, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
}
.portfolio2-text008 {
  top: 12.467822074890137px;
  left: 238px;
  color: rgba(171, 173, 175, 1);
  width: 467px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text010 {
  top: 12.467822074890137px;
  color: rgba(171, 173, 175, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text012 {
  top: 62.5425910949707px;
  left: 670px;
  color: rgba(0, 228, 114, 1);
  width: 227px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text014 {
  top: 101.1925048828125px;
  left: 550px;
  color: rgba(255, 255, 255, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-certifications {
  top: 4499px;
  left: 0px;
  width: 1501px;
  height: 760px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(49, 53, 54, 1);
}
.portfolio2-image2 {
  top: 265px;
  left: 73px;
  width: 400px;
  height: 308px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-image3 {
  top: 266px;
  left: 550px;
  width: 400px;
  height: 308px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-image4 {
  top: 266px;
  left: 1027px;
  width: 400px;
  height: 307px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-text016 {
  top: 95px;
  left: 550px;
  color: rgba(255, 255, 255, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-technology {
  top: 3264px;
  left: 0px;
  width: 1525px;
  height: 1235px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(37, 40, 41, 1);
}
.portfolio2-networkand-cloud {
  top: 800px;
  left: 998px;
  width: 358px;
  height: 338px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(196, 196, 196, 0);
}
.portfolio2-rectangle8 {
  top: 22px;
  left: 29px;
  width: 110px;
  height: 110px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.portfolio2-rectangle9 {
  top: 22px;
  left: 194px;
  width: 110px;
  height: 110px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.portfolio2-text018 {
  top: 155px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text020 {
  top: 205px;
  left: 29px;
  color: rgba(171, 173, 175, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-databases {
  top: 800px;
  left: 572px;
  width: 358px;
  height: 338px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(196, 196, 196, 0);
}
.portfolio2-rectangle81 {
  top: 26px;
  left: 72px;
  width: 193px;
  height: 100px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.portfolio2-text022 {
  top: 146px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text024 {
  top: 205px;
  left: 29px;
  color: rgba(171, 173, 175, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-mobile-applications {
  top: 800px;
  left: 144px;
  width: 358px;
  height: 338px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(196, 196, 196, 0);
}
.portfolio2-rectangle82 {
  top: 26px;
  left: 129px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.portfolio2-text026 {
  top: 143px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text028 {
  top: 205px;
  left: 29px;
  color: rgba(171, 173, 175, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-operating-system {
  top: 317px;
  left: 998px;
  width: 358px;
  height: 338px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(196, 196, 196, 0);
}
.portfolio2-text030 {
  top: 205px;
  left: 29px;
  color: rgba(171, 173, 175, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text032 {
  top: 152px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-true-nas {
  top: 43px;
  left: 249px;
  width: 80px;
  height: 63px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-windows {
  top: 22px;
  left: 139px;
  width: 80px;
  height: 88px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-ubuntu {
  top: 26px;
  left: 29px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.portfolio2-desktop-applications {
  top: 317px;
  left: 572px;
  width: 358px;
  height: 338px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(196, 196, 196, 0);
}
.portfolio2-rectangle83 {
  top: 30px;
  left: 51px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.portfolio2-rectangle18 {
  top: 30px;
  left: 203px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.portfolio2-text034 {
  top: 150px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text036 {
  top: 205px;
  left: 29px;
  color: rgba(171, 173, 175, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-web-applications {
  top: 317px;
  left: 144px;
  width: 358px;
  height: 338px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(196, 196, 196, 0);
}
.portfolio2-rectangle84 {
  top: 26px;
  left: 129px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.portfolio2-text038 {
  top: 150px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text040 {
  top: 205px;
  left: 29px;
  color: rgba(171, 173, 175, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text042 {
  top: 90px;
  left: 610px;
  color: rgba(0, 228, 114, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text044 {
  top: 143px;
  left: 550px;
  color: rgba(255, 255, 255, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-education {
  top: 2194px;
  left: 0px;
  width: 1500px;
  height: 1070px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(49, 53, 54, 1);
}
.portfolio2-right {
  top: 174px;
  left: 750px;
  width: 699px;
  height: 694px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-left {
  top: 108px;
  left: 86px;
  width: 606px;
  height: 873.999267578125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-text046 {
  left: 57px;
  color: rgba(0, 228, 114, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text048 {
  top: 46px;
  left: 54px;
  color: rgba(255, 255, 255, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-side-line {
  top: 178px;
  left: 0px;
  width: 37px;
  height: 695.999267578125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-ellipse2 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 228, 114, 1);
  border-style: solid;
  border-width: 2px;
}
.portfolio2-ellipse4 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 228, 114, 1);
  border-style: solid;
  border-width: 2px;
}
.portfolio2-ellipse6 {
  top: 228px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 228, 114, 1);
  border-style: solid;
  border-width: 2px;
}
.portfolio2-ellipse8 {
  top: 462px;
  left: 1px;
  width: 36px;
  height: 36px;
  position: absolute;
  border-color: rgba(0, 228, 114, 1);
  border-style: solid;
  border-width: 2px;
}
.portfolio2-ellipse3 {
  top: 11px;
  left: 11px;
  width: 14px;
  height: 14px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-ellipse5 {
  top: 11px;
  left: 11px;
  width: 14px;
  height: 14px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-ellipse7 {
  top: 239px;
  left: 11px;
  width: 14px;
  height: 14px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-ellipse9 {
  top: 473px;
  left: 12px;
  width: 14px;
  height: 14px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-line1 {
  top: 19px;
  left: 17px;
  width: 227px;
  height: 0px;
  position: absolute;
}
.portfolio2-line2 {
  top: 253px;
  left: 17px;
  width: 227px;
  height: 0px;
  position: absolute;
}
.portfolio2-line3 {
  top: 469px;
  left: 17px;
  width: 227px;
  height: 0px;
  position: absolute;
}
.portfolio2-text050 {
  top: 166px;
  left: 72px;
  color: rgba(0, 228, 114, 1);
  width: 534px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text052 {
  top: 232px;
  left: 72px;
  color: rgba(255, 255, 255, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text054 {
  top: 277px;
  left: 72px;
  color: rgba(171, 173, 175, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text056 {
  top: 395px;
  left: 72px;
  color: rgba(0, 228, 114, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text058 {
  top: 461px;
  left: 72px;
  color: rgba(255, 255, 255, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text060 {
  top: 506px;
  left: 72px;
  color: rgba(171, 173, 175, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text062 {
  top: 629px;
  left: 72px;
  color: rgba(0, 228, 114, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text064 {
  top: 695px;
  left: 72px;
  color: rgba(255, 255, 255, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text066 {
  top: 740px;
  left: 72px;
  color: rgba(171, 173, 175, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-skills {
  top: 1583px;
  left: 63px;
  width: 1393px;
  height: 476px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-right1 {
  top: 92px;
  left: 731px;
  width: 662px;
  height: 276px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-image1 {
  top: 0px;
  left: 0px;
  width: 662px;
  height: 276px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-left1 {
  top: 0px;
  left: 0px;
  width: 713px;
  height: 476px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-text068 {
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 703px;
  height: auto;
  position: absolute;
  font-size: 62px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text070 {
  top: 237px;
  color: rgba(171, 173, 175, 1);
  width: 687px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-about {
  top: 725px;
  left: 0px;
  width: 1500px;
  height: 700px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(49, 53, 54, 1);
}
.portfolio2-lui-thumbs-up1 {
  top: 128px;
  left: 65px;
  width: 511px;
  height: 412px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-text077 {
  top: 130px;
  left: 686px;
  color: rgba(0, 228, 114, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text079 {
  top: 183px;
  left: 686px;
  color: rgba(255, 255, 255, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text081 {
  top: 283px;
  left: 686px;
  color: rgba(171, 173, 175, 1);
  width: 670px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-hero-section {
  top: 124px;
  left: 82px;
  width: 1324px;
  height: 601px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-hero-left {
  top: 69px;
  left: 0px;
  width: 795px;
  height: 373px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-text088 {
  left: 12px;
  color: rgba(255, 255, 255, 1);
  width: 755px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Rufina;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text090 {
  top: 330px;
  left: 12px;
  color: rgba(128, 128, 128, 1);
  width: 795px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-contact-btn {
  top: 483.9998779296875px;
  left: 20px;
  width: 191px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 228, 114, 1);
}
.portfolio2-text092 {
  top: 12px;
  left: 27px;
  color: rgba(255, 255, 255, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-contact-btn1 {
  top: 484.9998779296875px;
  left: 239px;
  width: 185px;
  height: 49px;
  display: flex;
  padding: 12px 42px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(0, 228, 114, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 38px;
  background-color: rgba(255, 255, 255, 0);
}
.portfolio2-text094 {
  top: 12px;
  left: 55px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.portfolio2-nobg1 {
  top: 0px;
  left: 777px;
  width: 547px;
  height: 601px;
  position: absolute;
  border-color: transparent;
}
.portfolio2-navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 93px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(49, 53, 54, 1);
}
.portfolio2-menu {
  top: 25px;
  left: 456px;
  width: 983px;
  height: 51px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-hover {
  top: 46px;
  left: 0px;
  width: 92px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.portfolio2-text096 {
  top: 8px;
  left: 115px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text098 {
  top: 8px;
  left: 375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text100 {
  top: 8px;
  left: 550px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-text102 {
  top: 8px;
  left: 215px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.portfolio2-rectangle1 {
  /*top: 0px;
  left: 792px;*/
  display: block;
  background-color: #00e472;
  left: 120%;
  position: absolute;
  margin-left: auto;
  width: 191px;
  height: 50px;
  border-color: transparent;
  border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: DM Sans;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
.portfolio2-text106 {
  /*top: 12px;
  left: 1430px;*/
  display: block;
  top: 2.8%;
  left: 91.8%;
  position: relative;
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio2-logo {
  top: 19px;
  left: 73px;
  width: 268px;
  height: 52px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.portfolio2-blackand-white-collection1 {
  display: block;
  position:absolute;
  top: -25px;
  left: -500px;
  width: 60.259735107421875px;
  height: 51.55558776855469px;
  box-sizing: border-box;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
}
.portfolio2-vector {
  top: 16.06926727294922px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.portfolio2-vector1 {
  top: 16.06926727294922px;
  left: 21.090911865234375px;
  width: 18px;
  height: 19px;
  position: absolute;
}
.portfolio2-vector2 {
  top: 16.06926727294922px;
  left: 41.42857360839844px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.portfolio2-vector3 {
  top: 32.1385383605957px;
  left: 10.545455932617188px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.portfolio2-vector4 {
  top: 32.1385383605957px;
  left: 30.88311767578125px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.portfolio2-vector5 {
  top: 0px;
  left: 10.545455932617188px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.portfolio2-vector6 {
  top: 0px;
  left: 30.88311767578125px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.portfolio2-text108 {
  display: block;
  position: absolute;
  top: -23px;
  left: -430px;
  color: rgba(255, 255, 255, 1);
  width: 199px;
  height: auto;
  /*position: absolute;*/
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Salsa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}